main {
  display: flex;
  max-height: 2%;
}

body {
  height: 50%;
  margin: auto
}

div {
  padding: 5px;
  border: 0.01px solid grey;
  height: 6%;
  flex: 0 0 1%;
}

.dead {
  background-color: white;
}

.live {
  background-color: green;
}

.dead, .live {
  padding: 10px;
}
